/* 

Por favor al editar el codigo 

- iniciar con su nombre la parte que edito- Ejemplo

    /* Julian Gomez/*

    body
    {
        color: blue
    }

    /* Victor Santiago /*

       body
    {
        color: red
    }

    /* Andtes Lote /*

       body
    {
        color: green
    }

- Separar las partes con un titulo al inicio. Ejemplo

    - /* Header /*
        - codigo que hace parte del header
    
    /*footer/*
        - Codigo que hace parte del footer

*/